/* Selectors */
/* Element (Tag) Selectors */
/* ID is more important than class and elements */
body {
    background-color: beige
}
h1 {
    color: red
}

p {
    color: blue
}
.intro-p {
    color: blue
}
.description-p {
    color: green
}
#main-paragraph {
    color: purple
}